<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3-D Printer Locator</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Sign Up</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Log In
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>Username: </li>
                            <li>Password: </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1>Lend or Locate in 3-D!</h1>
            <div class="row">
                <div class="col-md-4">
                    <p>We help you find side jobs with your personal 3-D printer or help find someone who can accomplish all your printing needs!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="more-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Register as a Designated Printer</h3>
                    <p>Looking to make a little extra on the side? Rent out your printer! We'll pair you with clients so all you have to do is name your price and just print!</p>
                    <p><a href="#">Learn More about becoming a Printer</a></p>
                </div>

                <div class="col-md-6">
                    <h3>Register as a Client</h3>
                    <p>Looking to print parts or a fun gift? Browse through our Designated Printers to find the right match for your 3-D needs!</p>
                    <p><a href="#">Learn More about becoming a Client</a></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Footer content</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>